*{
    /* font-family: poppins; */
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.sidebar{
    width: 350px;
    height: 1200px;
}
.profile{
    width: auto;
    height: 250px;
    background-color: #00415A;
}
.menubar{
    background-color: white;
    height: 1000px;
}
.content{
    width: 100%;
    background-color: #A8D1E0;
}
.icon-user{
    font-size: 5.5rem;
}
.icon-search{
    color: #00415A;
    font-size: 1rem;
}
.icon-bell{
    font-size: 2rem;
}
.font-user{
    font-size: 26px;
}
.font-sidebar{
    color: #00415A;
    font-size: 15px;
}
.submenu{
    color: #00415A;
    font-size: 12px;
}
.submenu-aktif{
    color: white;
    font-size: 12px;
}
.select{
    color: white;
    background-color: #00415A;
}
.btn-nav{
    height: 56px;
    width: 100%;
    padding: 5px;
}
.search-admin{
    width: 787px;
    height: 40px;
    border-radius: 20px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.1));
}
.btn-search-admin{
    width: 65px;
    background-color: white;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
}
.judul-dashboard{
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}
.subjudul-dashboard{
    color: rgba(0, 0, 0, 0.5);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}
.rectangle{
    margin-left : 60px;
    margin-bottom: 50px;
    width: 850px;
    height: 500px;
    left: 400px;
    top: 240px;
    background: #E1F1F8;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 10px 10px;E;
}
.rec-up{
    margin-left: 60px;
    width: 850px;
    height: 9px;
    left: 400px;
    top: 240px;
    background: #00729E;
}
.form{
    padding-top: 74px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 141px;
    margin: auto;
}
.input{
    background: #FFFFFF;
    border-radius: 5px;
    margin-left: 50px;
    width: inherit;
}
.judul{
    padding: unset;
    padding-top: 4px;
}
.dropdown{
    padding-left: 63px;
}
#FMS{
    word-wrap: normal;
    width: 515px;;
    height: 36px;
    border-radius: 5px;
    position: relative;
    color: black;
}
.header{
    padding-left: 60px;
    padding-bottom: 20px;
}
.search{
    padding-left: 60px;
}
.bi.bi-chevron-right {
    color: black;
}
.bi.bi-chevron-right.bi-aktif {
    color: white;
}
.select#FMS {
    color: black;
}
option{
    color: black;
}
.button{
    font-weight: bold;
    font-size: inherit;
    margin-left: 450px;
}
#simpan {
    background-color: #00415A;
    color: #FFFFFF;
}
.search-container {
    width: 300px;
    height: 42.5px;
    margin-top: 55px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.1));
    border: none;
    padding-left: 20px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    background-color: #f8fafc;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.search-button{
    width: 40px;
    height: 40px;
    border: none;
    background: #00415A;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.1));
    border-radius: 5px;
}
.search-button2{
    width: 45px;
    height: 30px;
    border: none;
    background: #00415A;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.1));
    border-radius: 5px;
}
.search-button3{
    width: 45px;
    height: 30px;
    border: none;
    background: #C4C4C4;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.1));
    border-radius: 5px;
}
.icon-delete{
    color: black;
}
.searchtbl{
    margin-left: 40px;
}
input[type=text] {
    font-size: 17px;
    border: none;
}
.tambahdata{
    width: 150px;
    height: 42.5px;
    border: none;
    background: #00415A;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.1));
    border-radius: 5px;
    margin-left: 250px;
}
p{
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    margin: auto;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    color: black;
    font-weight: 100;
}
.thead th{
    background-color: #00415A;
    color: white;
}
tr{
    background-color: white;
}
th {
    width: auto;
}
.th {
    width: 150px;
}
.bdr {
    border-radius: 10px;
    overflow: hidden;
}
[type="date"] {
    background:#00415A  ;
  }
[type="date"]::-webkit-inner-spin-button {
    display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 1;
    filter: invert(1);
}
input{
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 120px;
    font-weight: 100;
    font-size: 15px;
    height: 40px;
}
.datepicker {
    padding-bottom: 35px;
    padding-left: 615px;
}
#statistik{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
    text-align: left;
    margin-left: 52px;
    padding-top: 30px;
}

#wrapper {
    display: flex;
}

.sidebar {
    width: 6.5rem;
    min-height: 100vh;
}

.sidebar .nav-item {
    position: relative;
}

.sidebar .nav-item:last-child {
    margin-bottom: 1rem;
}

.sidebar .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 6.5rem;
}

.sidebar .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
    color: #00415A;
}

.sidebar .nav-item.active .nav-link {
    font-weight: 700;
}

.sidebar .nav-item .collapse {
    position: absolute;
    left: calc(6.5rem + 1.5rem / 2);
    z-index: 1;
    top: 2px;
}

.sidebar .nav-item .collapse .collapse-inner {
    border-radius: 0.35rem;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.sidebar .nav-item .collapsing {
    display: none;
    transition: none;
}

.sidebar .nav-item .collapse .collapse-inner,
.sidebar .nav-item .collapsing .collapse-inner {
    padding: .5rem 0;
    min-width: 10rem;
    font-size: 0.85rem;
    margin: 0 0 1rem 0;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-header,
.sidebar .nav-item .collapsing .collapse-inner .collapse-header {
    margin: 0;
    white-space: nowrap;
    padding: .5rem 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.65rem;
    color: #b7b9cc;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    display: block;
    color: #3a3b45;
    text-decoration: none;
    border-radius: 0.35rem;
    white-space: nowrap;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
    background-color: #eaecf4;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:active {
    background-color: #dddfeb;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
    color: #4e73df;
    font-weight: 700;
}

.sidebar #sidebarToggle {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.sidebar #sidebarToggle::after {
    font-weight: 900;
    content: '\f104';
    font-family: 'Font Awesome 5 Free';
    margin-right: 0.1rem;
}

.sidebar #sidebarToggle:hover {
    text-decoration: none;
}

.sidebar #sidebarToggle:focus {
    outline: none;
}

.sidebar.toggled {
    width: 0 !important;
    overflow: hidden;
}

.sidebar.toggled #sidebarToggle::after {
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    margin-left: 0.25rem;
}

.sidebar.toggled .sidebar-card {
    display: none;
}

.sidebar .sidebar-brand {
    height: 14rem;
    --bs-gutter-x:0;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 0.5rem;
    text-align: center;
    text-transform: capitalize;
    z-index: 1;
    background-color: #00415A;
}

.sidebar .sidebar-brand .sidebar-brand-icon i {
    font-size: 2rem;
}

.sidebar .sidebar-brand .sidebar-brand-text {
    display: inline;
}

.sidebar hr.sidebar-divider {
    margin: 0 1rem 1rem;
}

.sidebar .sidebar-heading {
    text-align: center;
    padding: 0 1rem;
    font-weight: 800;
    font-size: 0.65rem;
}

.sidebar .sidebar-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.875rem;
    border-radius: 0.35rem;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.sidebar .sidebar-card .sidebar-card-illustration {
    height: 3rem;
    display: block;
}

.sidebar .sidebar-card .sidebar-card-title {
    font-weight: bold;
}

.sidebar .sidebar-card p {
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 768px) {
    .sidebar {
        width: 18rem !important;
    }

    .sidebar .nav-item .collapse {
        position: relative;
        left: 0;
        z-index: 1;
        top: 0;
        -webkit-animation: none;
        animation: none;
    }

    .sidebar .nav-item .collapse .collapse-inner {
        border-radius: 0;
        box-shadow: none;
    }

    .sidebar .nav-item .collapsing {
        display: block;
        transition: height 0.15s ease;
    }

    .sidebar .nav-item .collapse,
    .sidebar .nav-item .collapsing {
        margin: 0 1rem;
    }

    .sidebar .nav-item .nav-link {
        display: block;
        width: 100%;
        text-align: left;
        padding: 1rem;
        width: 16rem;
    }

    .sidebar .nav-item .nav-link i {
        font-size: 0.85rem;
        margin-right: 0.25rem;
    }

    .sidebar .nav-item .nav-link span {
        font-size: 0.85rem;
        display: inline;
    }

    .sidebar .nav-item .nav-link[data-toggle="collapse"]::after {
        width: 1rem;
        text-align: center;
        float: right;
        vertical-align: 0;
        border: 0;
        font-weight: 900;
        content: '\f107';
        font-family: 'Font Awesome 5 Free';
    }

    .sidebar .nav-item .nav-link[data-toggle="collapse"].collapsed::after {
        content: '\f105';
    }

    .sidebar .sidebar-brand .sidebar-brand-icon i {
        font-size: 3rem;
    }

    .sidebar .sidebar-brand .sidebar-brand-text {
        display: block;
    }

    .sidebar .sidebar-heading {
        text-align: left;
    }

    .sidebar.toggled {
        overflow: visible;
        width: 6.5rem !important;
    }

    .sidebar.toggled .nav-item .collapse {
        position: absolute;
        left: calc(6.5rem + 1.5rem / 2);
        z-index: 1;
        top: 2px;
        -webkit-animation-name: growIn;
        animation-name: growIn;
        -webkit-animation-duration: 200ms;
        animation-duration: 200ms;
        -webkit-animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
        animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
    }

    .sidebar.toggled .nav-item .collapse .collapse-inner {
        box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
        border-radius: 0.35rem;
    }

    .sidebar.toggled .nav-item .collapsing {
        display: none;
        transition: none;
    }

    .sidebar.toggled .nav-item .collapse,
    .sidebar.toggled .nav-item .collapsing {
        margin: 0;
    }

    .sidebar.toggled .nav-item:last-child {
        margin-bottom: 1rem;
    }

    .sidebar.toggled .nav-item .nav-link {
        text-align: center;
        padding: 0.75rem 1rem;
        width: 6.5rem;
    }

    .sidebar.toggled .nav-item .nav-link span {
        font-size: 0.65rem;
        display: block;
    }

    .sidebar.toggled .nav-item .nav-link i {
        margin-right: 0;
    }

    .sidebar.toggled .nav-item .nav-link[data-toggle="collapse"]::after {
        display: none;
    }

    .sidebar.toggled .sidebar-brand .sidebar-brand-icon i {
        font-size: 2rem;
    }

    .sidebar.toggled .sidebar-brand .sidebar-brand-text {
        display: none;
    }

    .sidebar.toggled .sidebar-heading {
        text-align: center;
    }
}

.sidebar-light .sidebar-brand {
    color: #6e707e;
}

.sidebar-light hr.sidebar-divider {
    border-top: 1px solid #eaecf4;
}

.sidebar-light .sidebar-heading {
    color: #b7b9cc;
}

.sidebar-light .nav-item .nav-link {
    color: #858796;
}

.sidebar-light .nav-item .nav-link i {
    color: #d1d3e2;
}

.sidebar-light .nav-item .nav-link:active,
.sidebar-light .nav-item .nav-link:focus,
.sidebar-light .nav-item .nav-link:hover {
    color: #6e707e;
}

.sidebar-light .nav-item .nav-link:active i,
.sidebar-light .nav-item .nav-link:focus i,
.sidebar-light .nav-item .nav-link:hover i {
    color: #6e707e;
}

.sidebar-light .nav-item .nav-link[data-toggle="collapse"]::after {
    color: #b7b9cc;
}

.sidebar-light .nav-item.active .nav-link {
    color: #6e707e;
    background-color: #00415A;
}

.sidebar-light .nav-item.active .nav-link i {
    color: #6e707e;
    background-color: #00415A;
}

.sidebar-light #sidebarToggle {
    background-color: #eaecf4;
}

.sidebar-light #sidebarToggle::after {
    color: #b7b9cc;
}

.sidebar-light #sidebarToggle:hover {
    background-color: #dddfeb;
}

.sidebar-dark .sidebar-brand {
    color: #fff;
}

.sidebar-dark hr.sidebar-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.sidebar-dark .sidebar-heading {
    color: rgba(255, 255, 255, 0.4);
}

.sidebar-dark .nav-item .nav-link {
    color: rgba(0, 65, 90, 0.8);
}

.sidebar-dark .nav-item .nav-link i {
    color: rgba(0, 65, 90, 0.3);
}

.sidebar-dark .nav-item .nav-link:active,
.sidebar-dark .nav-item .nav-link:focus,
.sidebar-dark .nav-item .nav-link:hover {
    color: #00415A;
}

.sidebar-dark .nav-item .nav-link:active i,
.sidebar-dark .nav-item .nav-link:focus i,
.sidebar-dark .nav-item .nav-link:hover i {
    color: #00415A;
}

.sidebar-dark .nav-item .nav-link[data-toggle="collapse"]::after {
    color: rgba(255, 255, 255, 0.5);
}

.sidebar-dark .nav-item.active .nav-link {
    color: #fff;
}

.sidebar-dark .nav-item.active .nav-link i {
    color: #00415A;
}

.sidebar-dark #sidebarToggle {
    background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-dark #sidebarToggle::after {
    color: rgba(255, 255, 255, 0.5);
}

.sidebar-dark #sidebarToggle:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.sidebar-dark.toggled #sidebarToggle::after {
    color: rgba(255, 255, 255, 0.5);
}
#chart {
    width: 600px;
    margin: 35px auto;
  }
#chartpie{
    width: 400px;
    margin: 35px auto;
}